@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('.assets/fonts/BebasNeue-Regular.otf');
}

body {
  font-family: 'BebasNeue-Regular', 'Segoe UI', sans-serif;
}
